* {
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
}

h1 {
  font-size: large;
  font-weight: 700;
  text-align: center;
}

.page-title {
  box-sizing: border-box;
  border: 30px skyblue;

  width: 700;
  height: 300;
  padding: 50px;
}