* {
  font-family: 'Courier New', Courier, monospace;
  background-color: hsl(250, 235, 215);
}

h1 {
  font-size: large;
  font-weight: 700;
  text-align: center;
}

.page-title {
  box-sizing: border-box;
  border: 30px hsl(135, 206, 250);

  width: 700;
  height: 300;
  padding: 50px;
}