* {
  font-family: 'Courier New', Courier, monospace;
  background-color: hsl(250, 235%, 215%);
}

h1 {
  font-size: large;
  font-weight: 700;
  text-align: center;
}

.page-title {
  box-sizing: border-box;
  width: 700;
  height: 300;
}