* {
  font-family: 'Courier New', Courier, monospace;
}

.page-title,
h1 {
  background-color: paleturquoise;
  box-sizing: border-box;

  padding: 20px;
  margin: 5px;

  border: 30px steelblue;

  text-align: center;
  font-size: xx-large;
  font-weight: 900;
}

.page-links,
ul {
  list-style: none;
  font-size: medium;
}

.page-links {
  background-color: antiquewhite;
  box-sizing: border-box;

  width: 700;
  height: 150;
  padding: 10px;
  margin: 5px;

  border: 30px steelblue;
}

.page-links,
ul {
  display: flex;
}

.page-links,
li {
  margin-right: 20px;
}

.pizza-title,
img {
  position: relative;
  object-fit: contain;
}